VITE_SUPABASE_URL=https://Ironwala.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtaml5ZHJ2ZmxhZndoem1kd2JoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0MDQ5OTEsImV4cCI6MjA4Njk4MDk5MX0.EEqh0zeiV9Uk13U23Yz5ULRQ2iO9th7QPdiZMuHtsWE
